body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

* {
	box-sizing: border-box;
}

pre {outline: 1px solid #ccc; padding: 5px; margin: 5px; }
.string { color: green; }
.number { color: darkorange; }
.boolean { color: blue; }
.null { color: magenta; }
.key { color: red; }

.wrapper {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 15px;
	grid-auto-rows: minmax(100px, auto);
	max-width: 1200px;
}

a:visited {
    color: blue;
}

.leftPanel {
	grid-column: 1;
}

.rightPanel {
	grid-column: 2;
}

input[type=text] {
	width: 300px;
}

label {
	display: block;
	margin-bottom: 10px;
}

code {
	display: block;
	white-space: pre-wrap;
	padding: 5px;
	border: black 1px solid;
	margin-bottom: 10px;
}

iframe {
	width: 100%;
	height: 300px;
	border: none;
}

#loading {
	position: fixed;
	top: 30px;
	right: 30px;
}

.toggle:hover {
	cursor: pointer;
}